<div class="col-lg-2 col-md-3 bg-dark normal-height p-0">
  <ul class="nav align-self-stretch flex-column">
    <li class="nav-item mb-2">
      <a href="/admin/" class="nav-link text-light">
        <i class="fas fa-th text-primary mr-2"></i>
        dashboard
      </a>
    </li>
    <li class="nav-item mb-2">
      <a href="/admin/applicants/" class="nav-link text-light">
        <i class="fas fa-users text-primary mr-2"></i>
        applicants
      </a>
    </li>

    <li class="nav-item mb-2">
      <a href="/admin/vacancy/" class="nav-link text-light">
        <i class="fas fa-list text-primary mr-2"></i>
        vacancies
      </a>
    </li>

    <li class="nav-item mb-2">
      <a href="/admin/exams/mgt/" class="nav-link text-light">
        <i class="fas fa-newspaper text-primary mr-2"></i>
        exam
      </a>
    </li>

    <li class="nav-item mb-2">
      <a href="/admin/recruitment/schedules/" class="nav-link text-light">
        <i class="fas fa-clock text-primary mr-2"></i>
        schedule
      </a>
    </li>
  </ul>
</div>