<!-- navbar -->
<div>
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a class="nav-link active" href="#" id="view-personnal-btn">
        <div class="d-flex align-items-center">
          <i class="fas fa-id-card mr-2"></i>
          <span>Personnal</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="view-contact-btn">
        <div class="d-flex align-items-center">
          <i class="fas fa-address-book mr-2"></i>
          <span>Contact</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="view-education-btn">
        <div class="d-flex align-items-center">
          <i class="fas fa-graduation-cap mr-2"></i>
          <span>Education</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link write-exam" href="#">
        <div class="d-flex align-items-center">
          <i class="fas fa-pencil-alt mr-2"></i>
          <span>Write&nbsp;Exam</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="preview-application">
        <div class="d-flex align-items-center">
          <i class="fas fa-list-alt mr-2"></i>
          <span>Preview</span>
        </div>
      </a>
    </li>
  </ul>
</div>
<!-- navbar -->