<div class="footer">
  <div class="text-center">
    <h5>Online examination system for <b>lobic staff recruitment</b></h5>
    <p>website developed by <b>me</b>. All &copy; reserved. since <span id="js-year"></span>
    <script>
      document.getElementById('js-year').innerHTML = (new Date()).getFullYear();
    </script>
    </p>
  </div>
</div>