<div class="footer">
  <div class="text-center">
    <h5>Online examination system for <b>lobic staff recruitment</b></h5>
    <p>Website developed by <b><cite>Chimezie Maryjane Ozioma</cite></b>
      <strong>REGNO:<u>2018/HND/CST/81763</u></strong>. All &copy; reserved. since <span id="js-year"></span>
      <script>
        document.getElementById('js-year').innerHTML = (new Date()).getFullYear();
      </script>
    </p>
  </div>
</div>