<div id="myslider" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#myslider" data-slide-to="0" class="active"></li>
    <li data-target="#myslider" data-slide-to="1"></li>
    <li data-target="#myslider" data-slide-to="2"></li>
    <li data-target="#myslider" data-slide-to="3"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner slider">
    <div class="carousel-item active">
      <img src="/resources/img/1.jpg" alt="Student writing online exam" />
      <div class="carousel-caption slider-text-container">
        <h3 class="slider-text">Online Exam</h3>
        <p class="slider-text">Our applicants can now write exam online</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/resources/img/2.jpg" alt="Our Staffs" />
      <div class="carousel-caption slider-text-container">
        <h3 class="slider-text">Meet Our Staffs</h3>
        <p class="slider-text">In Our Company you find happiness</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/resources/img/3.jpg" alt="Two nurses with steroscope" />
      <div class="carousel-caption slider-text-container bg-tp">
        <h3 class="slider-text">work with ease and comfort</h3>
        <p class="slider-text">You are always been taking care of.</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev slider-control" href="#myslider" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next slider-control" href="#myslider" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div id="about" class="py-3 bg-light">
  <div class="title text-center">
    <h4>Application Rules & Guide Lines</h4>
    <p class="text-muted">
      This consists the rules all applicants must adhere to during application, failure to follow the rules & guides
      below will lead to automatic disqualification of applicant. Thank you.
    </p>
  </div>
  <div class="px-2">
    <div class="alert alert-info">
      <ul>
        <h5 class="text-center">Rules & Guide Lines</h5>
        <li>
          Each applicant must only apply once as multiple applications warrants automatic disqualification
        </li>
        <li>
          During the self test, you are alloted a limited time, so you are expected to answer as many questions as
          possible before your time runs out.
        </li>
        <li>
          At no point should you share the recruitment test questions through any media, as we reserve right all rights and
          privacy.
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="about" class="py-3 bg-light">
  <div class="title text-center">
    <h4>About Us</h4>
    <span class="text-muted">
      ...brief story about our hospitality firm.
    </span>
  </div>
  <p class="mt-2 text-center">
    We are concerned with providing our distinguish customers with the best service by ensuring that the feel
    comfortable through their stay in our hotel
  </p>
</div>