<div class="col-12 col-md-9 mx-auto">
<div class="card pd-5">
  <div class="card-header">
    <h3 class="card-title text-center">
      Examination Rules and GuideLine
    </h3>
  </div>

  <div class="card-body">
    <div class="light-gray-container">
      <ol class="light-gray">
        <li>
          You must not take or attempt to take the CBT for anyone else.
        </li>
        <li>
          You must not allow or attempt to allow anyone else to take the CBT for you.
        </li>
        <li>
          You must only use the provided computer for taking the CBT.
        </li>
        <li>
          You must not tamper with or attempt to tamper with the computer or use the computer for anything other than
          taking the CBT.
        </li>
        <li>
          You must not engage in any behaviour deemed to be disruptive at any time while in the test centre or when
          taking the CBT or during any break from testing.
        </li>
        <li>
          If you experience any hardware or software problems during the examination, notify the supervisor by raising
          your hand immediately.
        </li>
        <li>
          If you need to attract the supervisor’s attention for any reason, raise your hand.
        </li>
        <li>
          Any writing before or during the tutorial is considered ‘brain dumping’ and will result in an incident report
          to us and your results being placed on hold, pending an investigation.
        </li>
        <li>
          You must not write on any materials, including your hands, arms or body. This action will be considered
          cheating and will result in an incident report to us and your results will be placed on hold pending
          investigation.
        </li>
      </ol>

      <h3 class="title">
        Grounds for dismissal or cancellation of results
      </h3>
      <ul class="light-gray">
        <li>
          All candidates must comply fully with supervisor’s instructions and/or the test centre rules and regulations
          or risk having their CBT results withheld, dismissed or cancelled.
        </li>
        <li>
          Candidates who do not comply with the supervisor’s instructions or test centre rules and regulations may be
          asked to leave the test centre and their exam fees will not be refunded. Such incidents will be reported to us
          and the CBT result may be withheld or cancelled. We may take disciplinary action such as denial of
          registration and/or disqualifying you from future attempts at the CBT.
        </li>
      </ul>

      <h3 class="title">
        Confidentiality and test security
      </h3>
      <div class="alert alert-danger">
        <p>
          Any disclosure of examination test questions before, during, or after the examination is a violation of law.
          Violations of confidentiality and/or candidate rules can result in criminal prosecution or civil liability
          and/or disciplinary actions by the regulatory body including exclusion from registration.
        </p>
      </div>
    </div>

    <form action="/candidate/exam/start" method="post">
      <div class="col-md-3">
        <input type="submit" value="Start Exam" class="btn btn-success" />
      </div>
    </form>

  </div>
</div>
</div>